<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
{{ .Hugo.Generator }}

<title>{{ .Title }} - {{ .Site.Title }}</title>

{{ template "_internal/opengraph.html" . }}

<link rel="stylesheet" href='{{"css/styles.css" | relURL}}'>
<link rel="stylesheet" href="{{"css/custom.css" | relURL}}">

<!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch.min.css">
		 <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch-theme-algolia.min.css"> -->
