<!doctype html>
<html lang="{{ .Language }}">

  {{- partial "site/head" . }}

  <body>
		<div class="Site Site--fullscreen">

			<header class="Site-header Container">
				{{- partial "site/header" . }}
			</header>

			<main class="Site-main">
				{{- block "main" . }}
				{{- end }}
			</main>

			{{- partial "site/foot" . }}
		</div>
  </body>
</html>
