/* reset browser defaults */

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    margin-top: 0;
}

body {
    margin: 0;
}

a,
a:visited {
    text-decoration: none;
    color: var(--color-link);
}

a:hover {
    text-decoration: underline;
}

ul {
    margin-top: 0;
}

blockquote {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 2rem;
    white-space: pre;
}

img {
    width: 100%;
    display: block;
}
