/* Layout styles that apply to our root elements.
	 It gives the general "direction" of what our page and viewport layout are */

/* Universal Box Sizing with Inheritance ~ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* base sizes */
html {
  font-size: 16px;
  font-family: 'IBM Plex Serif', serif;
  line-height: 1.6;
}

@media (min-width: 90rem) {
  html {
    font-size: 20px;
  }
}

/* flex layout */
html,
body,
.Site {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  min-height: 100vh;
}
