{{ define "main" }}

{{if (isset .Params "gallery") (gt (len .Params.gallery) 0)}}
<ls-page vertical center>
    <aside>
	<image-slideshow center>
	    {{ partial "image-gallery" .Params.gallery }}
	</image-slideshow>
    </aside>
</ls-page>
{{ end }}

{{if (isset .Params "galleries") (gt (len .Params.galleries) 0)}}
{{ range .Params.galleries }}
<ls-page vertical center>
    <aside>
	<p>
	    {{ .description }}
	</p>
	<image-slideshow center>
	    {{ partial "image-gallery" .gallery }}
	</image-slideshow>
    </aside>
</ls-page>
{{ end }}
{{ end }}

{{ with .Content}}
<ls-page vertical middle>
    <ls-container width>
	{{ . }}
    </ls-container>
</ls-page>
{{ end }}

{{ end }}
