{{ define "main" }}

{{if (isset .Params "gallery") (gt (len .Params.gallery) 0)}}
<ls-page vertical center>
    <image-slideshow center>
	{{ partial "image-gallery" .Params.gallery }}
    </image-slideshow>
</ls-page>
{{ end }}

{{if (isset .Params "galleries") (gt (len .Params.galleries) 0)}}
<section>
    {{ range .Params.galleries }}
    {{ with .description }}
    <ls-page vertical middle>
	<ls-container padding-h width>
	    {{ . }}
	</ls-container>
    </ls-page>
    {{ end }}
    <ls-page vertical center>
	{{if (isset . "gallery") (gt (len .gallery) 0)}}
	<image-slideshow center middle>
	    {{ partial "image-gallery" .gallery }}
	</image-slideshow>
	{{ end }}	 
    </ls-page>
    {{ end }}
</section>
{{ end }}

{{ with .Content}}
<ls-page vertical middle>
    <ls-container width>
	{{ . }}
    </ls-container>
</ls-page>
{{ end }}

{{ end }}
