{{ define "main" }}

{{.Content}}

<section class="Section">
	<h2>User</h2>
	<auth-flow></auth-flow>
</section>

<section class="Section">
	<h2>Your jobs</h2>
	<p>You can always <a href="/job/new" class="Button Button--createJob">create a new job</a>.</p>
	<list-user-jobs></list-user-jobs>
</section>

{{ end }}
