<!doctype html>
<html lang="{{ .Language }}">

    {{- partial "site/head" . }}

    <body>
	{{ if .Site.Params.withNotificationSystem }}
	{{- partial "site/notification-system" . }}
	{{ end }}

	{{ if .Site.Params.withDatabase }}
	{{- partial "site/database" . }}
	{{ end }}

	<!-- checkbox css trick, only works if next to .Site -->
	<input class="Theme" type="checkbox" title="Color theme, light/dark"/>
	<div class="Site">
	    <header class="Site-header Container">
		{{- partial "site/header" . }}
	    </header>

	    <main class="Site-main">
		{{- block "main" . }}
		{{- end }}
	    </main>

	    {{- partial "site/foot" . }}
	</div>
    </body>
</html>
