{{ define "main" }}

<ls-page vertical middle>
    <ls-container width="text" padding-h>
	<article>
	    <!-- {{ partial "item-header.html" . }} -->

	    <aside class="TableOfContents">
		{{ if and (gt .WordCount 200 ) (ne .Params.toc "false") }}
		{{.TableOfContents}}
		{{ end }}
	    </aside>

	    <main class="Content">
		{{ .Content }}
	    </main>
	</article>
    </ls-container>
</ls-page>
{{ end }}
