{{ define "main" }}
<ls-page>
    {{ $context := . }}
    {{ $currentTag := $context.Title | lower }}
    {{ $navPages := .Site.Sections }}

    <ls-container>
	<section class="Section">
	    {{ with .Content }}<header>{{ . }}</header>{{ end }}
	    {{ partial "nav-model-actions.html" (dict "site" .Site "model" "company" "forModel" .Title) }}
	</section>


	<section class="Section">
	    <details open>
		<summary>
		    Featured jobs in <strong>#{{ $currentTag }}</strong>
		</summary>
		<!-- <joblistcity-featured-jobs tag="{{ $currentTag }}" primary-tag="berlin"></joblistcity-featured-jobs> -->
	    </details>
	</section>

	{{ range $index, $page := $navPages }}
	{{ with .Pages }}
	{{ $matchingTags := (slice $currentTag) }}
	{{ $contentPages := (where . ".Params.tags" "intersect" $matchingTags) }}
	{{ if (len $contentPages) }}
	<section class="Section">
	    <details open>
		<summary>
		    <strong>{{  $page.Title }}</strong> in
		    <i>
			#{{ $currentTag }}
		    </i>.
		</summary>
		{{ partial "list.html" (sort $contentPages "Params.created_at" "desc") }}
	    </details>
	</section>
	{{ end }}
	{{ end }}
	{{ end }}

	<section class="Section">
	    {{ partial "edit-this-page" . }}
	    {{ if .Content }}
	    {{ end }}
	</section>
    </ls-container>

</ls-page>
{{ end }}
