{{ template "breadcrumbnav" (dict "p1" . "p2" .) }}

{{ define "breadcrumbnav" }}

{{ if .p1.Parent }}

{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}

{{ else if not .p1.IsHome }}

{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}

{{ end }}
<nav-item>
	<a href="{{ .p1.Permalink }}" {{ if eq .p1 .p2 }}{{ end }}>
		{{ or .p1.Title .p1.File.BaseFileName }}
	</a>
</nav-item>

{{ end }}
