{{ $img := . }}

{{ if $img.image }}
<figure viewport>
    <img src="{{$img.image}}" alt="{{$img.caption}}" loading="lazy"/>
    {{ with $img.caption }}
    <figcaption>{{ . }}</figcaption>
    {{ end }}
</figure>
{{ else }}
{{ with $img.caption }}
<blockquote>{{ . }}</blockquote>
{{ end }}
{{ end }}
