{{ if (and .Params.latitude .Params.longitude) }}
<aside class="Card Card--map">
	<map-list
		latitude="{{ .Params.latitude }}"
		longitude="{{ .Params.longitude }}"
	>
		<map-marker
			latitude="{{ .Params.latitude }}"
			longitude="{{ .Params.longitude }}"
			text="<a href='{{ .Params.Permalink }}'>{{ .Params.title }}</a>"
		></map-marker>
	</map-list>
</aside>
{{ end }}
