<ls-card padding>
    <a href="{{ .URL }}">

	{{if .Params.image}}
	<ls-card-media>
	    <img src="{{.URL}}/{{.Params.image}}" alt="{{.Title}}" loading="lazy">
	</ls-card-media>
	{{end}}

	<h3>
	    {{ .Title }}
	</h3>

    </a>
</ls-card>

