/* card */

.Card {
    position: relative;
}

.Card--tag .Card-header {
    display: flex;
}

.Card-boardLink {
    word-break: break-all;
}

.Card-tags {
    display: flex;
    align-content: flex-end;
}

.Card-count {
    margin-left: 0.2rem;
}

.Card-title {
    margin-bottom: 0;
}

.Card-title:hover,
.Card-title:active {
    text-decoration: underline;
}