image-slideshow {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 1rem;
    margin-bottom: 2rem;

    max-width: 100%;
}
image-slideshow[screen] {
    min-height: 80vh;
    align-items: center;
}
image-slideshow::-webkit-scrollbar {
    height: 0;
    width: 0;
}
image-slideshow figure {
    padding-left: 1rem;
    padding-right: 1rem;
}
image-slideshow img {
    max-height: 75vh;
    max-width: 90vw;
    width: auto;
}

/* center vertically (an horizontal slideshow) */
image-slideshow[center] {
    align-items: center;
}
/* Puts the image in the horizontal middle; note: only works if one
image, because of flex badly overflowing elements (bug or me?) */
image-slideshow[middle] {
    align-self: center;
}
