ls-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

ls-container[width] {
    max-width: var(--container-width);
}
ls-container[width="text"] {
    max-width: var(--container-width-text);
}

ls-container[vertical] {
}

ls-container[vertical][center] {
    justify-content: center;
}
ls-container[vertical][middle] {
    align-items: center;
}

ls-container[padding-h] {
    padding-left: var(--padding);
    padding-right: var(--padding);
}

ls-container[padding-h] {
    padding-left: var(--padding);
    padding-right: var(--padding);
}
