ls-grid[columns] {
    display: flex;
    flex-wrap: wrap;
}
ls-grid[columns][baseline] {
    align-items: baseline;
}
ls-grid-item {
    width: 100%;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* when there is a direct link child */
ls-grid-item a {
    padding: 1rem;
    display: block;
}
@media (min-width: 40rem) {
    ls-grid[columns="1"] ls-grid-item {
	width: 100%;
    }
    ls-grid[columns="2"] ls-grid-item {
	width: 50%;
    }
    ls-grid[columns="3"] ls-grid-item {
	width: calc(100/3 * 1%);
    }
    ls-grid[columns="4"] ls-grid-item {
	width: 25%;
    }
    ls-grid[columns="5"] ls-grid-item {
	width: 20%;
    }
    ls-grid[columns="6"] ls-grid-item {
	width: calc(100/6 * 1%);
    }
    ls-grid[columns="7"] ls-grid-item {
	width: calc(100/7 * 1%);
    }
    ls-grid[columns="8"] ls-grid-item {
	width: calc(100/8 * 1%);
    }
    ls-grid[columns="9"] ls-grid-item {
	width: calc(100/9 * 1%);
    }
    ls-grid[columns="10"] ls-grid-item {
	width: 10%;
    }
}

ls-grid[center] {
    align-items: center;
}
